body{
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header{
    background-color: rgb(42, 243, 42);
    text-align: center;
    padding: 10px;
}
main{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.produtos, .carrinho {
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 40%;
    border-radius: 10px;
    padding: 20px;

}